
*{
    margin: 0;
    padding: 0;
}

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    background-color:#f4f4f4;
}

.container {
    margin: auto;
    width:80%;
    overflow: hidden;
}

/* Header **/
header {
    background: #35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

.branding{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    float:left;
}

.header-text-initial{
    color: orangered;
    font-weight: bold;
}

.menu {
    list-style: none;
}

.menu-item {
    list-style:none ;
    list-style-type: none;
    display: inline;
    margin: 0 110px 0 0;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin: 30px 50px 40px 0;
    float:right;
    font-weight: bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background: url('../img/showcase.jpg') no-repeat 0 0;
  text-align:center;
  color:#ffffff;
}

.showcase h1 {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 60px; 
}

.showcase p {
    font-size: 20px; 
    margin-left: 120px;
}