*{
    padding: 0;
    margin: 0;
}

image, a {
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background: url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.header {
    height: 65px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}

.logo {
    padding: 10px 0 0 10px;    
    float: left;
}

.logo h2 {
    margin: 7px 0 0 15px;
}

.nav ul {
    float: right;
    text-decoration: none;    
    padding: 10px
}

.banner {
    clear: both;
    height: 300px;
    text-align: center;
    color: rgb(255,255,255);
    padding: 0 4em;
    margin: 6em 0 6em; 
}

.container {
    width: 1200px;
    margin: auto;
}

.banner a {
    color: rgb(255,255,255);
}

.banner p {
    font-size: 1.75em;
    line-height: 1.75em;
    margin-bottom: 60px;
}

.nav ul li {
    padding: 10px 30px 0 30px;
    list-style-type: none;
    display: inline-block;
}

.button {
    background-color: rgb(244, 66, 116);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 45px;
    font-size: 1.25em;
    box-shadow: 5px 5px 10px 1px rgb(76, 69, 71);
}
.medium {
    padding: 15px 60px;
    font-size: 1.75em;
}



.row{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border:2px solid red;
    width:100%;
}

.section-block {
      width: 33.3333333333%;
    float: left;
  }


.box {
    padding: 3em 2em;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    color: rgb(182, 187, 196);
    border:2px solid red;
    width: 100%
}